<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My overcooked blog</title>
    <link rel="stylesheet" href="/dist/common.css">
    <link rel="stylesheet" href="/dist/index.css">
</head>

<body>
    <div>
        <img src="./img/avatar.jpeg">
        <div class="nav">
            <a href="/about">关于作者</a>
            <a href="/">主页</a>
            <a href="/list">博客列表</a>
        </div>
        <div id="root"></div>
        <div id="shop"></div>
    </div>
</body>

</html>